Package: com.videah.love
Name: LÖVE
Version: 0.10.1
Architecture: iphoneos-arm
Description: Compiled Cydia version of LÖVE.
Homepage: http://love2d.org
Maintainer: VideahGams <ruairidhcarmichael@live.co.uk>
Author: VideahGams <ruairidhcarmichael@live.co.uk>
Section: LÖVE
Icon: file:///Applications/Love/icon.png
